@import url('https://css.gg/check.css');
@import url('https://css.gg/close.css');

.TodoItem{
    /* background-color: #BC6FF1; */
    margin-top: 2vh; 
    border: solid 1px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding-left: 5%;
    list-style-type:none;
    height: 55px;
    padding-top: 0px;
}

.TodoItem-p--completed{
    text-decoration: line-through;
    color: rgb(137, 137, 137);
}

.x{
    float: right;
    margin-right: 10px;
    margin-top: 9px;
    width:35px;
    height:35px;
    border: 3px solid white;
    color:#fff;
    font-weight:bold;
    border-radius: 3px;
    background:#52057B;
}

.x:hover {
    background: rgb(218, 32, 32);
    box-shadow: 1px 0px 18px 4px rgb(218, 32, 32);
  }

.checkButton{
    margin-top: 9px;
    margin-right: 5px;
    width:35px;
    height:35px;
    border: 3px solid white;
    color:#fff;
    font-weight:bold;
    border-radius: 3px;
    background:#52057B;
                
}

.checkButton:hover, .checkButton--completed {
    background: rgba(188, 111, 241, 1);
    box-shadow: 1px 0px 18px 4px rgba(188, 111, 241, 1);
  }


