.todoForm{
    display: grid;
    justify-content: center;
    
}

.newTodoInput{
    height: 25px;
    border-radius: 3px;
    border: 0px;
    margin-top: 18px;
    
}

.newTodoInput:focus{
  outline: none;
}

.newTodoInput::placeholder{
  color:#bea8ff;
}

.createTodo{
 margin-top: 12px;
 background-color: #652AB1;
 height: 30px;
 width: 70%;
 margin-left: 15%;
 color: #ffffff;
 font-family: Trebuchet MS;
 font-weight:bold;
 text-decoration: none;
 border: 2px solid white;
 border-radius: 2px;
}
.createTodo:hover{
 background-color: #904AEB;
}
.createTodo:active{
 transform: scale(0.95);
}

@media (max-width: 800px){
        

  .todoForm{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
  }
    .createTodo{
      height: 70px;
      margin-bottom: 0px;
      margin-top: 20px;
      font-size: 17px;
    }

    .newTodoInput{
      height: 35px;
      font-size: 17px;
      margin-top: 20px;
    }

}